<link rel="stylesheet" href="/stylesheets/footer.css">
<br>
<br>
<br>
<br>
<div class="flexlogos">
    <div class="logos">
        <img src="/images/Singapore_Airlines.svg" height="200px" width="200px">
    </div>
    <div class="logos">
        <img src="/images/airasialogo.svg" height="200px" width="200px">
    </div>
    <div class="logos">
        <img src="/images/Thai_Airways_Logo.svg" height="200px" width="200px">
    </div>
    <div class="logos">
        <img src="/images/United_Airlines_Logo.svg" height="200px" width="200px">
    </div>
    <div class="logos">
        <img src="/images/Southwest_Airlines_logo_2014.svg" height="200px" width="200px">
    </div>
    <div class="logos">
        <img src="/images/Japan_Airlines_Logo_(2011).svg" height="200px" width="200px">
    </div>
</div>
<script>
    const logosize = document.querySelectorAll(".logos img")
    logosize.forEach(el => el.addEventListener("mouseover", e => {
        el.style.height = "210px";
        el.style.width = "210px";
    }))
    logosize.forEach(el => el.addEventListener("mouseout", e => {
        el.style.height = "200px";
        el.style.width = "200px";
    }))
</script>
<div id="bottomstuff">
    <div class="legal">
        <br>
        <span>FakeOnwardTicket</span>
        <br>
        <span>Copyright &copy 2022 FakeOnwardTicket, Inc.</span>
        <br>
        <a href="/terms">Legal Stuff</a><span> | </span><a href="/privacy">Privacy Policy</a>
    </div>    
    <div class="paypalsecure">
        <img src="/images/paypal_secure.png" alt="secure payment through Paypal" height="140px">
    </div>
</div>