<link rel="stylesheet" href="/stylesheets/header.css">

<a href="/" style="text-decoration:none">
    <header>  
        <div class="banner">
            <img src="/images/plane.jpg" height="35px" width="50px">
            <span id="title">FakeOnwardTicket</span>
            <br>
            <span id="subtitle">FOR JUST $3.99!</span>
        </div>
    </header>
</a>

<div class="parentdiv">
    <img src="/images/background.jpg" id="backgroundimage">
</div>

