<link rel="stylesheet" href="/stylesheets/header.css">

<a href="/" style="text-decoration:none">
    <header>  
        <div class="banner">
            <img src="/images/plane.jpg" height="35px" width="50px">
            <span id="title">CheapOnwardTicket</span>
            <br>
            <span id="subtitle">FOR JUST $4.00!</span>
        </div>
    </header>
</a>