<script src="https://www.paypal.com/sdk/js?client-id= <%= paypalClientId %> &currency=USD"></script>
<script src="/public/javascript/paypal.js" defer></script>
<link rel="stylesheet" href="/stylesheets/payment.css">

<div class="infobox">
    <h2>Verify information here</h2>
    <div id="paypal"></div>
</div>