.flexlogos {
    display: flex;
    justify-content:space-evenly;
}    

.logos {
    width: 240px;
    height: 240px;
}

#bottomstuff {
    height: 140px;
    background-color:cadetblue;
}

.legal {
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.paypalsecure {
    float: right;
}

