* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tripiata {
    display: flex;
    margin-top: 30px;
    border: 1px black solid;
}

.trip {

    font-size: 50px;
    font-family: Arial black;
    color: rgb(71, 128, 252);
    border: 1px black solid;

}

.iata {
    height: 70px;
    width: 100px;
    margin-left: 0;
    border: 1px black solid;
}

.bookingnumber {
    position: absolute;
    right: 0;
    top: 50px
}

#detailbox {
    border: 1px solid;
}

.firstrow {
    background-color: rgb(209, 237, 241);
    border: 1px solid;
    margin-top: 0;
}

hr {
    border-top: 1px solid grey
}

.greytext {
    color: grey;
}