.infobox {
    position: relative;
    top: 100px;
    width: 500px;
    height: 500px;
    border: 1px cadetblue solid;   
    background-color: white; 
    margin: auto;
    box-shadow: 3px 5px #ced1d3e8;
    border-radius: 25px;
    z-index: 3;
}