h1 {
    justify-content: center;
    text-align: center;
    font-family: monospace;
}

.infobox {
    position: relative;
    justify-content: center;
    text-align: center;
    top: 50px;
    width: 400px;
    height: 350px;
    border: 1px cadetblue solid;   
    background-color: white; 
    margin: auto;
    box-shadow: 3px 5px #ced1d3e8;
    border-radius: 25px;
    z-index: 3;
    opacity: .9;
}

#passengerinfo {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-weight: 100;
}

input[type=text] {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid cadetblue;
    font-weight: 100;
    font-family: monospace;
    font-size: 15px;
}


input[type=text]:focus {
    outline: none;
    border: 3px solid cadetblue;
}


input[type=email] {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid cadetblue;
    font-family: monospace;
    font-size: 15px;
}


input[type=email]:focus {
    outline:none;
    border: 3px solid cadetblue;
}

select {
    width: 257px;
    height: 53px;
    border-radius: 10px;
    border: 2px solid cadetblue;
    font-family: monospace;
    font-size: 15px;
}

select:focus {
    outline: none;
    border: 3px solid cadetblue;
}

.hidden {
    display: none;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: monospace;
    box-shadow: 1px 3px #ced1d3e8;
    
}

button:hover {
    background-color: rgb(238, 231, 233);
    border: rgb(238, 231, 233);
    box-shadow: 1px 3px #ced1d3e8;
}

button:active {
    width: 144px;
    height: 28px;
    border-radius: 8px;
}