* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}


.tripiata {
    display: flex;
    margin-top: 30px;
}

.trip {
    font-size: 50px;
    font-family: Arial black;
    color: rgb(71, 128, 252);
}

.iata {
    height: 70px;
    width: 100;
    margin-left: 0;
    padding-bottom: 0;
}

.bookingnumber {
    position: absolute;
    right: 0;
    top: 50px
} 

.sealportion {
    height: 170px;
    display: inline-flex
}

.leftofseal {
    height: 170px;
    width: 500px;
}

.inlinetop {
    display: inline-flex;
}

.topleftofseal {
    width: 200px;
    height: 100px;
}

.toprightofseal {
    height: 100px;
    width: 300px
}

p {
    height: 50px;
}

.seal {
    height: 130px;
    width: 150px;
}

.passenger {
    height: 50px;
    display: flex;
}

.passengerleft {
    height: 50px;
    width: 250px;
}

.passengerright {
    height: 50px;
    width: 250px;
}

.flights {
    height: 50px;
    display: flex;
}

.flightsleft {
    height: 50;
    width: 250px;
}

.flightscenter {
    height: 50;
    width: 250px;
}

.flightsright {
    height: 50;
    width: 250px;
}

.summary {
    height: 100px;
    display: flex;
}

.summaryleft {
    height: 100px;
    width: 250px;
}

.summaryright {
    height: 100px;
    width: 250px;
}

.greytext {
    color: grey
}