h1 {
    justify-content: center;
    text-align: center;
    font-family: monospace;
}

.infobox {
    position: relative;
    top: 100px;
    width: 600px;
    height: 350px;
    border: 1px cadetblue solid;   
    background-color: white; 
    margin: auto;
    box-shadow: 3px 5px #ced1d3e8;
    border-radius: 25px;
    z-index: 3;
    
}

.p {
    max-height: 150px;
    overflow: auto;
    padding: 0;
    margin: 40px 60px 80px 60px;
    font-family: monospace; 
    border: 1px black solid;
}

h2 {
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
