<form action="/passenger" method="Get">
    <div id="opt1" class="options">
        <%= departure %>
    </div>
    <div id="opt2" class="options"> 
        Option 2
    </div>
    <div id="opt3" class="options">
        Option 3
    </div>
    <div id="opt4" class="options">
        Option 4
    </div>
    <div id="opt5" class="options">
        Option 5
    </div>
</form>

