<link rel="stylesheet" href="/stylesheets/terms.css">

<div class="infobox"> 
    <h1>Terms of Service</h1>
    <h2>Last Updated: March 20, 2022</h2>
    <div class="p">
        <h4>Please read these terms of service carefully before using Fake Onward Ticket. </h4>
        
        <h3>Conditions of Use</h3>
        
        <h4>We will provide specific services to you, which are subject to the conditions stated below in these terms. Every time you visit this website, use its services or make a purchase, you accept the following conditions.</h4>
        
        <h3>Refund</h3>
        
        <h4>No refunds will be given for any purchases from this website.</h4>
        
        <h3>Privacy Policy</h3>
        
        <h4>Before you continue using our website we advise you to read our <a href="/privacy" >privacy policy</a> regarding our user data collection. It will help you better understand our practices.</h4>
        
        <h3>Copyright</h3>
        
        <h4>Content published on this website is the property of Fake Onward Ticket and/or its content creators. The entire compilation of the content found on this website is the exclusive property of Fake Onward Ticket.</h4>
        
        <h3>Communications</h3>
        
        <h4>The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us.  We will continue to communicate with you by posting notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements, and other communications we provide to you electronically meet the legal requirements that such communications be in writing.</h4>
        
        <h3>Liability</h3>
        
        <h4>The user accepts full responsibility for any use or misuse of all products purchased from Fake Onward Ticket. In no event will Fake Onward Ticket be liable for any special, incident, indirect, or consequencial damages whatsoever arising from your access or use of, or inability to access or use, the site.</h4>
        
        <h3>Applicable Law</h3>
        
        <h4>By visiting this website, you agree that the laws of the United States of America, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between Fake Onward Ticket and you, or its business partners and associates.</h4>
        
        <h3>Disputes</h3>
        
        <h4>Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court of the United States of America and you consent to exclusive jurisdiction and venue of such courts.</h4>
        
        <h3>Comments, Reviews, Emails</h3>
        
        <h4>Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing on intellectual property rights, invasive of privacy, or injurious in any other way to third parties. Content has to be free of software viruses, political campaigns, and commercial solicitation.
            We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant Fake Onward Ticket non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.
        </h4>
        
        <h3>License and Site Access</h3>
        
        <h4>We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.</h4>
        
        <h3>User Account</h3>
        
        <h4>We reserve all rights to terminate accounts, edit or remove content and cancel orders at our sole discretion.</h4>
    </div>
</div>